<div id="myUserLogInModal" class="modal" tabindex="-1">
    <div class="modal-content">
        <span id="UserLoginClose" class="close" onclick="return CloseUserLoginModal();">&times;</span>
        <div class="e-content">
            <div class="form-row">
                <div class="col-2">
                    اسم المستخدم
                </div>
                <div class="col-6">
                    <input type="text" placeholder="User Name" id="txtUserName" class="form-control" />
                </div>
            </div>
            <div class="form-row">
                <div class="col-2">
                    كلمة المرور
                </div>
                <div class="col-6">
                    <input type="password" placeholder="Password" id="txtPassword" class="form-control" />
                </div>
            </div>
            <div class="form-row">
                <div class="col-2">
                </div>
                <div class="col-6">
                    <input type="button" value="Login" id="btnLogin" onclick="return CheckAckUser();" />
                </div>
            </div>
        </div>


    </div>
</div>
